@charset "UTF-8";
/* CSS Document */

#banner
{ 
	background-color: transparent; 
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 55px; text-align: left; 
}
#sub_banner
{
	background-color: transparent;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
	font-size: 24px; text-align: right; font-style:oblique; color:#DE1F07; 
}
#sub_banner2
{
	background-color: transparent;
    font-size: 36px; text-align: right; font-style:!important; color: #1245C7; 
}
#sub_banner3
{ 
background-color: transparent; font-size: 36px; text-align: left; font-style: !important; color: #1245C7;
}
#sub_heading
{
	text-align: center; font-size: px; font-style: italic; color: #000000; animation:ease-in-out; font-family:"Gill Sans Light", Chalkboard, Chalkduster, "Brush Script MT Italic"
}	
#nav_bar
{
	background-color: #13DCE5; 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;  
	font-size: 25px; border:thick; border-color:#5389F5;
}
#content
{
	background-color: transparent;
	font-family: Baskerville, "Palatino Linotype", Palatino, Century Schoolbook L, Times New Roman, serif;
	font-size: 18px;
}
#sub_title 
{ 
font-family: Gill Sans Light, Chalkboard, Chalkduster, Brush Script MT; font-size:35px; 
} 
#bold 
{ 
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-style:italic; 
}
#bold_2
{ 
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-style:italic; color: #080AE1;
}
#bold_3
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-style:oblique; font-size:inherit
}
#footer
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
} 
